

1 VERSIONINFO
FILEVERSION    0,4,7,0
PRODUCTVERSION 0,4,7,0
FILETYPE 0x1                  
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040704B0"    
        {
            VALUE "CompanyName", "Josef Biehler"
            VALUE "FileDescription", "Funktionsammlung verschiedenster Funktionen"
            VALUE "FileVersion", "0.4.7.0"
            VALUE "InternalName", "bcomp"
            VALUE "LegalCopyright", "Copyright (C) 2005-2007 by Josef Biehler"
            VALUE "OriginalFilename", "BiehlCOMP.dll"
            VALUE "ProductName", "Biehler COMPUTE"
            VALUE "ProductVersion", "0.4.7.0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0407 0x04B0
    }
}
