

#define   IDC_TAB01                    3000

#define IDM_CHECK 4001
#define IDM_EXIT 4002
#define IDM_CONFIG 4003
#define IDC_STATIC01 6001
#define IDC_CHK01 7001
#define IDC_BUTT03 5003

#define IDC_LISTBOX01 8001

IDI_ICON                 ICON    DISCARDABLE    "pop32.ico"
IDD_DLG01 DIALOGEX LOADONCALL MOVEABLE DISCARDABLE 129,113,176,129
CAPTION "GIF Transparentor"
FONT    8, "MS Sans Serif"
STYLE   0x10CA0000
EXSTYLE 0x00040000
BEGIN
    CONTROL "IDC_LISTBOX",IDC_LISTBOX01,"listbox",0x50200141,6,10,162,101,0x00000000

END


IDM_MEN MENU
{
 POPUP "&Programm"
        {
         MENUITEM "&Einstellungen",IDM_CONFIG
         MENUITEM SEPARATOR
         MENUITEM "E&xit",IDM_EXIT
        }
 MENUITEM "&POP3 Konten prüfen", IDM_CHECK
}

IDD_CONFIG DIALOGEX LOADONCALL MOVEABLE DISCARDABLE 111,87,177,153
CAPTION "Einstellungen"
FONT    8, "MS Sans Serif"
STYLE   0x14C80000
EXSTYLE 0x00000080
BEGIN
    CONTROL "IDC_TAB",IDC_TAB01,"SysTabControl32",0x50000000,0,0,175,151,0x00000000
    CONTROL "Bei Windowsstart ausführen:",IDC_STATIC01,"static",0x50000100,8,16,93,11,0x00000000
    CONTROL "",IDC_CHK01,"button",0x50010003,103,17,13,9,0x00000000
    CONTROL "Speichern",IDC_BUTT03,"button",0x50010000,16,134,146,12,0x00000000
END


