#include "resource.h"
#define   IDC_STATIC         -1

#define   IDC_PROGRESS01               2001
#define   IDC_STATUS01                 2002
#define   IDC_BUTTON                   2003

#define   IDC_BUTT04                   2006
#define   IDC_BUTT02                   2005
#define   IDC_GRP01                    2008
#define   IDC_BUTT05                   2007
#define   IDC_STATUS                   2011
#define   IDC_TRACKBAR                 2012
#define   IDC_TAB01                    2013

MYDIALOG DIALOG 33,59,257,153
CAPTION "IDD_DLG"
FONT    8, "MS Sans Serif"
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
BEGIN
    CONTROL "IDC_PROGRESS",IDC_PROGRESS01,"msctls_progress32",0x50000000,25,47,208,19,0x00000000
    CONTROL "Test Button1",IDC_BUTTON,"button",BS_NOTIFY | WS_CHILD,144,11,99,16,0x00000000
END

ABOUTDLG DIALOG 37,96,255,137
CAPTION "Test Programm 2"
FONT    8, "MS Sans Serif"
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
BEGIN

END

AUSWERTUNG DIALOG 16,84,229,153
CAPTION ""
FONT    8, "MS Sans Serif"
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
BEGIN
    CONTROL "Auswerten",IDC_BUTT02,"button",0x50010000,166,11,54,28,0x00000000
    CONTROL "Wie findest du dieses Programm?",IDC_GRP01,"button",0x54000007,4,7,132,48,0x00000000
    CONTROL "",IDC_STATUS,"msctls_statusbar32",0x50000100,0,137,229,12,0x00000000
    CONTROL "IDC_TRACKBAR",IDC_TRACKBAR,"msctls_trackbar32",TBS_AUTOTICKS | TBS_ENABLESELRANGE | TBS_BOTH | BS_NOTIFY | WS_CHILD,4,66,131,14,0x00000000
    CONTROL "Nützlich",IDC_BUTT04,"button",WS_CHILD | WS_VISIBLE | BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_NOTIFY,9,17,118,9,0x00000000
    CONTROL "Sinnlos",IDC_BUTT05,"button",WS_CHILD | WS_VISIBLE | BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_NOTIFY,9,30,118,9,0x00000000
    CONTROL "IDC_TAB",IDC_TAB01,"SysTabControl32",WS_CHILD | WS_VISIBLE | BS_NOTIFY,4,86,131,52,0
END
