#define   IDD_DLG01                    2000
#define   IDC_EDIT01                   2001
#define   IDC_BUTT01                   2002


IDD_DLG01 DIALOGEX LOADONCALL MOVEABLE DISCARDABLE 76,77,154,114
CAPTION "Test"
FONT    8, "MS Sans Serif"
STYLE   0x10CF0000
EXSTYLE 0x00000080
BEGIN
    CONTROL "",IDC_EDIT01,"edit",0x50010040,18,24,121,21,0x00000000
    CONTROL "Klick mich",IDC_BUTT01,"button",0x50010000,31,62,85,27,0x00000000
END

