

#define   IDD_DLG01                    2000
#define   IDC_BUTT01                   2001


IDD_DLG01 DIALOGEX LOADONCALL MOVEABLE DISCARDABLE 61,65,180,148
CAPTION "IDD_DLG"
FONT    8, "MS Sans Serif"
STYLE   0x14C80000
EXSTYLE 0x00000080
BEGIN
    CONTROL "IDC_BUTT",IDC_BUTT01,"button",0x50010000,40,45,87,51,0x00000000
END

